/* ALL*/
body {
  font-family: "Arial", "Meiryo", sans-serif;
}

main {
  text-align: center;
}
/* title */
h1 {
  font-family: 'Noto Sans JP', sans-serif;
  border-bottom: solid 3px rgb(115, 115, 114) ;
  text-shadow: 1px 1px 2px gray;
  letter-spacing: 1.2em;
}
.google-fonts {
  font-family: 'Noto Sans JP', sans-serif;
}

.text-blue {
  color: skyblue;
}

.text-pink {
  color:rgb(255, 192, 203);  
}

/* 見出し */
.text-pink_ {
  color: pink;
}

.text-blue_{
  color: skyblue;
}

/* 本文　*/
#basic > p {
  font-weight: bold;
}